@media (max-width:600px) {
    #btn{
        width: 30%;
        float: left;
        padding: 10px;
        background-color: #303030;
        color: #ffffff;
        text-transform: uppercase;
    }
    .Your-Email{
        width: 60%;float: left;
        padding: 10px;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.103);margin-bottom: 80px;
        margin-left: 20px;
        text-transform: uppercase;
    }
    .form-part input{
        font-size: 20px;
        float: left;
        color: rgba(0, 0, 0, 0.514);
    }
}
@media (min-width:601px) and (max-width:750px) {

}
@media (min-width:751px) and (max-width:900px) {

}
@media (min-width:901px) and (max-width:1200px) {
    
}